*{
  padding: 0;
  margin: 0;
  border: 0;
}

a{
  text-decoration: none;
      color: inherit;

}

body{
  font-family: 'Lato', sans-serif;
  color: rgb(23, 43, 77);
  -webkit-tap-highlight-color: transparent;
  line-height: 1.2;
  font-size: 16px;
  font-weight: normal;
}

#root{
  display: flex;
  flex-direction: column;
}

.logo{
  display: block;
  position: relative;
  left: 0px;
  margin: 20px 0px 10px;
  transition: left 0.1s ease 0s;
}

.logo span{
  display: inline-block;
  margin-left: 8px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.left-column .about{
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
}

.left-column .about .about-modal{
  position: relative;
  width: 100%;
  height: 42px;
  line-height: 42px;
  padding-left: 64px;
  color: rgb(222, 235, 255);
  transition: color 0.1s ease 0s;
  cursor: pointer;
  user-select: none;
  padding-top: 18px;
}


.left-column .about .about-modal:hover{
  background: rgba(255, 255, 255, 0.1);
}

.left-column .about .about-modal .about-modal-text{
  top: -8px;
  right: 0px;
  visibility: visible;
  opacity: 1;
}

.about-modal-text{
  position: relative;
  right: 12px;
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  transition: right 0.1s ease 0s, visibility, opacity;
}

.left-column .about .about-modal i{
  position: absolute;
  left: 18px;
}

.left-column .search-issues, .left-column .create-issues{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 42px;
  line-height: 42px;
  padding-left: 64px;
  color: rgb(222, 235, 255);
  transition: color 0.1s ease 0s;
  cursor: pointer;
  user-select: none;
}



.left-column .search-issues .search-text, .left-column .create-issues .create-text{
  position: relative;
  right: 12px;
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  transition: right 0.1s ease 0s, visibility, opacity;
}

.left-column:hover .search-issues .search-text, .left-column .create-issues .create-text{
  right: 0px;
  top: 2px;
  visibility: visible;
  opacity: 1;
}

.left-column .search-issues:hover, .left-column .create-issues:hover {
  background: rgba(255, 255, 255, 0.1);
} 

.left-column .search-issues i, .left-column .create-issues i{
  position: absolute;
  left: 15px;
  display: inline-block;
  font-size: 26px;
  transform: translate(3px, 1px);

}

.first-block{
  z-index: 1001;
  position: fixed;
  right: 30px;
  top: 50px;
}

.second-block{
  padding: 25px 32px 50px 334px;
}

.second-block .left-column{
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  height: 100vh;
  width: 64px;
  background: rgb(7, 71, 166);
  transition: all 0.1s ease 0s;
  transform: translateZ(0px);
}

.second-block .left-column:hover{
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 50px 0px;
}

.navbar{
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 64px;
  height: 100vh;
  width: 230px;
  padding: 0px 16px 24px;
  background: rgb(244, 245, 247);
  border-right: 1px solid rgb(223, 225, 230);
  overflow: hidden auto;
}

.navbar hr{
  margin-top: 17px;
  margin-top: 18px;
  background-color:rgb(193, 199, 208);
  width: 100%;
  height: 1px;
}

.head-info{
  display: flex;
  padding: 24px 4px;

}

.head-info span{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(7, 71, 166);
}

.head-info span i{
  font-size: 40px;
  color: #fff;
}

.head-info .title-info{
  padding: 3px 0px 0px 10px;
}

.head-info .title-info .info-name{
  color: rgb(66, 82, 110);
  font-size: 15px;
  font-weight: normal;
}

.head-info .title-info .info-descr{
  color: rgb(94, 108, 132);
  font-size: 13px;
}

.item-link{
  position: relative;
  display: flex;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.item-link.active{
  color: rgb(0, 82, 204);
  background: rgb(235, 236, 240);
}

.item-link.active i{
  color: rgb(0, 82, 204);
}

.item-link i{
  margin-right: 15px;
  font-size: 20px;
}

.item-link .info{
  padding-top: 2px;
  font-size: 14.7px;
}

.breadcrumbs{
  color: rgb(94, 108, 132);
  font-size: 15px;
}

.breadcrumbs span{
  position: relative;
  top: 2px;
  margin: 0px 10px;
  font-size: 18px;
}

.head-title{
  margin-top: 6px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.head-title h1{
  font-size: 24px;
  font-weight: normal;
}

.head-title a button{
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  vertical-align: middle;
  line-height: 1;
  padding: 0px 12px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
  appearance: none;
  cursor: pointer;
  user-select: none;
  font-size: 14.5px;
  background: rgb(244, 245, 247);
  color: rgb(66, 82, 110);
  font-weight: normal;
}

.head-title a button i{
  display: inline-block;
  font-size: 18px;
}

.head-title a button div{
  padding-left: 7px;
}

.board-filters{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 24px;
}

.board-filters .search{
  margin-right: 18px;
  width: 160px;
  position: relative;
  display: inline-block;
  height: 32px;
/*    width: 100%; */
}

.board-filters .search i{
  position: absolute;
  top: 8px;
  left: 8px;
  pointer-events: none;
  color: rgb(94, 108, 132);
  display: inline-block;
  font-size: 20px;
}

.board-filters .search input{
  height: 100%;
  width: calc(100% - 39px);
  padding: 0px 7px 0px 32px;
  border-radius: 3px;
  border: 1px solid rgb(223, 225, 230);
  color: rgb(23, 43, 77);
  background: rgb(244, 245, 247);
  transition: background 0.1s ease 0s;
  font-weight: normal;
  font-size: 15px;
}

.board-filters .users{
  display: flex;
  flex-direction: row-reverse;
  margin: 0px 12px 0px 2px;
}

.board-filters .users .user{
  display: inline-flex;
  margin-left: -2px;
  border-radius: 50%;
  transition: transform 0.1s ease 0s;
  cursor: pointer;
  user-select: none;
}

.board-filters .users .user .user-current{
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-image: url(../../images/13.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(235, 236, 240);
}


.board-filters .users .user .user-current.user2{
  background-image: url(../../images/73.jpeg);
}

.board-filters .users .user .user-current.user3{
  background-image: url(../../images/75.jpeg);
}

.my-issues{
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  vertical-align: middle;
  line-height: 1;
  padding: 0px 12px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
  appearance: none;
  cursor: pointer;
  user-select: none;
  font-size: 14.5px;
  background: rgb(255, 255, 255);
  color: rgb(66, 82, 110);
  font-weight: normal;
  margin-left: 6px;
}

.my-issues div{
  padding-left: 0px;
}

.basic-content{
  display: flex;
  margin: 26px -5px 0px;
}

.basic-content .task-col1{
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  min-height: 400px;
  width: 25%;
  border-radius: 3px;
  background: rgb(244, 245, 247);
}

.basic-content .task-col1 .head-task{
  padding: 13px 10px 17px;
  text-transform: uppercase;
  color: rgb(94, 108, 132);
  font-size: 12.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.basic-content .task-col1 .head-task .task-counter{
  text-transform: lowercase;
  font-size: 13px;
}

[data-rbd-droppable-context-id="0"] {
  overflow-anchor: none;
}

.basic-content .task-col1 .all-tasks{
  height: 100%;
  padding: 0px 5px;
}

.basic-content .task-col1 .all-tasks .task-item{
  will-change: transform;
  background-color: white;
  cursor: move;
  transition: all 200ms;
  user-select: none;
  position: relative;
}


[data-rbd-drag-handle-context-id="0"]{
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
}

.basic-content .task-col1 .all-tasks a{
  display: block;
  margin-bottom: 5px;
}

.basic-content .task-col1 .all-tasks .task-info{
  padding: 10px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
  transition: background 0.1s ease 0s;
  cursor: pointer;
  user-select: none;
}

.basic-content .task-col1 .all-tasks .task-info .descr{
  padding-bottom: 11px;
  font-size: 15px;
}

.basic-content .task-col1 .all-tasks .task-info .task-about{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.basic-content .task-col1 .all-tasks .task-info .task-about i.current-state{
  color: rgb(79, 173, 230);
  display: inline-block;
  font-size: 18px;
}

.basic-content .task-col1 .all-tasks .task-info .task-about i.current-progress{
  color: rgb(233, 127, 51);
  display: inline-block;
  font-size: 18px;
  transform: translate(4px, -1px);
}

.basic-content .task-col1 .all-tasks .task-info .task-about .avatar{
  display: flex;
  flex-direction: row-reverse;
  margin-left: 2px;
}

.basic-content .task-col1 .all-tasks .task-info .task-about .avatar .avatar-img{
  margin-left: -2px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-image: url(../../images/13.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(235, 236, 240);
}

#preloader {
  height: 60px;
  width: 60px;
  position: absolute;
  top: calc(50vh - 30px);
  left: calc(50% - 30px);
  margin-top: -20px;
  margin-left: -20px;
}
#preloader:before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 100%;
  width: 100%;
  animation: rotation 1s linear infinite;
  border: 2px solid rgb(7, 71, 166);
  border-top: 1px solid transparent;
  border-radius: 100%;
}
#preloader > .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 10.6px;
  margin-top: -12.5px;
  margin-left: -5.3px;
  animation: wink 1s ease-in-out infinite alternate;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content{
  opacity: 0;
  transition: all 0.5s ease;
}

.over {
  transform: scale(1.1, 1.1);
}

.about-block{
  z-index: 1001;
  position: fixed;
  bottom: 20px;
  left: 74px;
  width: 300px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  transform: translateZ(0px);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
}

.about-block .about-block-content{
  padding: 180px 0;
  text-align: center;
}

.hide{
  display: none;
}

.create-issue{
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden auto;
}

.create-issue .section-create-issue{
  min-height: 100%;
  background: rgba(9, 30, 66, 0.54);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 50px;
}

.create-issue .section-create-issue .content-create-issue{
  display: inline-block;
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  max-width: 800px;
  vertical-align: middle;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
}

.create-issue .section-create-issue .content-create-issue .info-task{
  padding: 25px 40px 35px;
}

.create-issue .section-create-issue .content-create-issue .info-task .title-task{
  padding-bottom: 15px;
  font-size: 21px;
}

.create-issue .section-create-issue .content-create-issue .info-task .issue-task{
  margin-top: 20px;
}

.type-task{
  display: block;
  padding-bottom: 5px;
  color: rgb(94, 108, 132);
  font-weight: normal;
  font-size: 13px;
}

.create-issue .section-create-issue .content-create-issue .info-task .issue-task select,
.create-issue .section-create-issue .content-create-issue .info-task .reporter select,
.create-issue .section-create-issue .content-create-issue .info-task .assignees select,
.create-issue .section-create-issue .content-create-issue .info-task .priority select
{
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  border: 1px solid rgb(223, 225, 230);
  background: rgb(244, 245, 247);
  transition: background 0.1s ease 0s;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 32px;
  padding: 5px 5px 5px 10px;
}

.placeholder-text{
  padding-top: 6px;
  color: rgb(94, 108, 132);
  font-size: 12.5px;
}

.create-issue .section-create-issue .content-create-issue .info-task .delimiter{
  margin-top: 22px;
  border-top: 1px solid rgb(223, 225, 230);
}

.create-issue .section-create-issue .content-create-issue .info-task .short-summary{
  margin-top: 20px;
}

.create-issue .section-create-issue .content-create-issue .info-task .short-summary .input-short-summary{
  position: relative;
  display: inline-block;
  height: 32px;
  width: 100%;
}

.create-issue .section-create-issue .content-create-issue .info-task .short-summary .input-short-summary input{
  height: 100%;
  width: 100%;
  padding: 0px 7px;
  border-radius: 3px;
  border: 1px solid rgb(223, 225, 230);
  color: rgb(23, 43, 77);
  background: rgb(244, 245, 247);
  transition: background 0.1s ease 0s;
  font-family: CircularStdBook;
  font-weight: normal;
  font-size: 15px;
}

.create-issue .section-create-issue .content-create-issue .info-task .description{
  margin-top: 20px;
}

.create-issue .section-create-issue .content-create-issue .info-task .description textarea{
  border-radius: 0px 0px 4px 4px;
  border-right: 1px solid rgb(223, 225, 230);
  border-bottom: 1px solid rgb(223, 225, 230);
  border-left: 1px solid rgb(223, 225, 230);
  border-top: 1px solid rgb(223, 225, 230);
  border-image: initial;
 /*  border-top: none; */
  color: rgb(23, 43, 77);
  font-size: 15px;
  font-weight: normal;
  width: 100%;
  resize: none;
  min-height: 110px;
}

.create-issue .section-create-issue .content-create-issue .info-task .reporter,
.create-issue .section-create-issue .content-create-issue .info-task .assignees,
.create-issue .section-create-issue .content-create-issue .info-task .priority{
  margin-top: 20px;
}

.create-issue .section-create-issue .content-create-issue .info-task .btn-add{
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-top: 30px;
}

.create-issue .section-create-issue .content-create-issue .info-task .btn-add .add{
  margin-left: 10px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  vertical-align: middle;
  line-height: 1;
  padding: 0px 12px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
  appearance: none;
  cursor: pointer;
  user-select: none;
  font-size: 14.5px;
  color: rgb(255, 255, 255);
  background: rgb(0, 82, 204);
  font-weight: normal;
}

.create-issue .section-create-issue .content-create-issue .info-task .btn-add .cancel{
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 32px;
  vertical-align: middle;
  line-height: 1;
  padding: 0px 12px;
  white-space: nowrap;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
  appearance: none;
  cursor: pointer;
  user-select: none;
  font-size: 14.5px;
  background: rgb(255, 255, 255);
  color: rgb(66, 82, 110);
  font-weight: normal;
  margin-left: 10px;
}

.create-issue .section-create-issue .content-create-issue .info-task .btn-add .cancel:not(:disabled):hover{
  background: rgb(235, 236, 240);
}

.create-issue .section-create-issue .content-create-issue .info-task .btn-add .add:not(:disabled):hover{
  background: rgb(0, 94, 235);
}

@import "./main-mobile.scss";