@media screen and (max-width: 1600px) {
	.container {
		width: 1140px;
	}
   .banner__btn-left{
      left: 15px;
   }
   .banner__btn-right{
      left: 80px;
   }
   .gams__body{
      margin: 0px 10px;
   }
   .gams__inner-foto {
      width: 280px;
      height: 330px;
   }
   .gams__back {
      width: 49%;
   }
   .banner__element{
      margin: 0px 15px; 
   }
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	}
   .header__menu{
      display: none;
   }
   .header__body{
      padding: 0 20px;
   }
   .inform__container {
      max-width: 1000px;
      margin: 0 auto;
   }
   .banner__element{
      margin: 0px 15px; 
   }
   .gams__body{
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
   }
   .gams__inner{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
   }
   .gams__inner:nth-child(1) {
      margin-right: 0px;
   }
   .gams__back {
      display: none;
   }
   .gams__inner-foto {
      width: 300px;
      height: 350px;
   }
   .gams__tititl {
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 65px;
      color: #2C2C2C;
      margin-bottom: 30px;
   }
   .gams_text {
      margin-bottom: 30px;
      text-align: center;
      width: 600px;
   }
   .gams__button {
      margin-bottom: 50px;
   }
   .mixing {
      margin-bottom: 150px;
      margin-top: 70px;
   }
   .mixing__body{
      display: flex;
      flex-direction: column;
   }
   .mixing__img {
      width: 700px;
      height: 500px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.3);
   }
   .mixing__titil {
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 65px;
      color: #2C2C2C;
      margin-bottom: 50px;
      text-align: center;
      max-width: 800px;
      margin-top: 30px;
   }

   .quiz__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   .quiz__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .quiz__in:nth-child(2){
      margin-right: 0px;
   }
   .quiz__in:nth-child(3){
      margin-top: 20px;
   }
   .subscribe__border{
      margin-left: 20px;
      margin-right: 20px;
   }
   .slider {
      margin-top: 80px;
      margin-bottom: 120px;
   }
   .slider {
      margin-top: 0px;
   }
}


@media screen and (max-width: 991px) {
	.container {
		width: 720px;
	}
   .header__body{
      display: none;
      padding: 0 20px;
   }
   .banner__element{
      min-height: 500px;
   }
   .inform__background{
      padding: 20px 20px 20px 20px;
   }
   .inform__container {
      max-width: 750px;
      margin: 0 auto;
   }
   .inform__inner{
      padding: 0px 20px 0px 20px;
   }
   .gams__inner-foto {
      width: 220px;
      height: 310px;
   }
   .gams_text{
      width: 460px;
   }
   .mixing__img {
      width: 550px;
      height: 400px;
   }
   .mixing__titil{
      font-size: 40px;
   }
   .mixing__in {
      justify-content: center;
   }
   .mixing__in:nth-child(3){
      padding: 20px 0px;
      border-top: 1px solid #F1E0DD;
      border-bottom: 1px solid #F1E0DD;
   }
   .quiz__inner{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }
   .quiz__in {
      margin-right: 0px;
   }
   .quiz__in:nth-child(3){
      margin-top: 30px;
   }
   .quiz__in:nth-child(1){
      margin-right: 20px;
   }
   .quiz__img {
      width: 350px;
      height: 450px;
   }
   .subscribe__border{
      padding: 38px 70px;
   }
   .subscribe__left-text{
      text-align: justify;
   }
   .subscribe__left-titl{
      font-size: 30px;
   }
   .subscribe__right-button{
      padding: 17px 45px;
   }
}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}
   .banner__element{
      min-height: 380px;
   }
   .banner__btn-left{
      left: 40%;
      transform: translate(-40%, 0%);
      padding: 13px 15px;
   }
   .banner__btn-right{
      left: 60%;
      transform: translate(-60%, 0%);
      padding: 13px 15px;
   }
   .banner___line{
      display: none;
   }
   .banner__lighthouse{
      display: none;
   }
   .banner__score{
      display: none;
   }
   .inform__container{
      margin: 0 auto;
      max-width: 500px;
   }
   .inform__inner{
      padding: 0px;
      border-right: none;
   }
   .inform__background{
      display: flex;
      justify-content: center;
      align-self: center;
   }
   .inform__number{
      font-size: 17px;
   }
   .inform__text{
      font-size: 15px;
      text-align: left;
   }
   .inform__pict{
      margin-right: 10px;
   } 
   .inform-plus{
      font-size: 15px;
   }
   .inform__pict{
      width: 35px;
      height: 35px;
   }
   .inform__img{
      left: 8px;
      width: 20px;
      height: 20px;
   }
   .gams__inners{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
   .gams__tititl{
      font-size: 35px;
      text-align: center;
   }
   .gams_text {
      font-size: 15px;
      max-width: 350px;
   }
   .gams__button{
      padding: 15px 24px 10px 25px;
   }
   .gams__back{
      left: 50%;
      min-height: 1480px;
      z-index: 0;
      width: 100%;
      display: none;
   }
   .gams__inner-img{
      margin-bottom: 30px;
      margin-right: 0px;
   }
   .gams__inner-foto {
      width: 280px;
      height: 350px;
  }
  .mixing__img{
   max-width: 350px;
   height: 250px;
   margin: 0px 10px;
  }
  .mixing__inner {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .mixing__titil {
   font-size: 25px;
   max-width: 350px;
   text-align: center;
}
.mixing__in-titl {
   font-size: 15px;
   width: 300px;
   margin-left: 25px;
}
.mixng__icons {
   max-width: 35px;
   height: 35px;
   margin-left: 10px;
}
.mixing__in:nth-child(2) {
   padding-bottom: 10px;
}
.mixing__in:nth-child(4) {
   padding-top: 10px;
}
.mixing__in:nth-child(3){
   padding: 20px 0px 20px 0px;
}
.quiz__titl {
   font-size: 30px;
}
.quiz__in:nth-child(1) {
    margin-right: 0px;
}
.quiz__img {
   width: 320px;
   height: 390px;
}
.quiz__back {
   max-width: 320px;
}
.quiz__in:nth-child(3) {
   margin-top: 0px;
   margin-bottom: 0px;
}
.quiz__in{
   margin-bottom: 30px;
}
.subscribe__body {
   display: flex;
   flex-direction: column;
}
.subscribe__left-titl{
   font-size: 20px;
   text-align: center;
   font-weight: 600;
   letter-spacing: 2px;
   line-height: 30px;
}
.subscribe__left-text{
   text-align: center;
   font-size: 16px;
   margin: 10px 0px 0px 0px;
}
.subscribe__right-button {
   padding: 5px 25px;
   margin-top: 15px;
}
.subscribe__border {
   padding: 15px 0px;
   margin: 0px 10px 0px 10px;
   border-radius: 0px;
}
.slider__titl{
   font-size: 28px;
}
.slider__text{
   font-size: 14px;
   line-height: 27px;
}

}


@media screen and (max-width: 575px) {
	.container {
		width: 100%;
	}
   .btn__burger-click-open{
      width: 18px;
      height: 18px;
   }
   .menu__burger{
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      background-color: #e0dcdc;
      height: 300px;
   }

   .banner__element {
      min-height: 350px;
      margin: 0px 10px;
  }
  .inform__inner{
     width: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 150px;
  }
  .inform__background {
     max-width: 310px;
  }
  .banner__btn-right {
   left: 60%;
  }
  .banner__btn-left{
   left: 40%;
  }
  
  .inform__inner:nth-child(1){
   margin-right: 5px;
  }
  .inform__pict {
   margin-right: 5px;
}
  .inform__background {
     display: flex;
     justify-content: center;
     align-items: center;
}
   .gams_text {
      font-size: 13px;
   }
   .gams__inner-foto {
      width: 250px;
      height: 310px;
  }
  .gams__body {
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .mixing{
   margin-bottom: 120px;
   margin-top: 40px;
  }
  .mixing__img {
   max-width: 300px;
   height: 225px;
  }
  .mixing__titil {
   font-size: 23px;
   line-height: 45px;
  }
  .mixing__in-titl{
   max-width: 240px;
   font-size: 13px;
  }
  .quiz__titl {
   font-size: 26px;
  }
  .quiz__img {
   width: 270px;
   height: 347px;
}
.quiz__back{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   left: 10%;
   border-radius: 5px 5px 0px 0px;
}
.quiz__back-titil{
   margin-bottom: 10px;
   text-align: center;
}
.quiz__foto {
   transform: translateY(600px)
}
.slider__titl {
   font-size: 24px;
   line-height: 40px;
}
.slider__text {
   font-size: 13px;
   line-height: 26px;
}
.slider__bottom-text{
   text-align:justify;
   font-size: 14px;
}
.slider__box{
   padding: 20px 30px 20px 30px;
   border: none;
}
._show-quiz-img{
   transform: translateY(0px)
}

.popap__body {
   padding: 0px 10px;
}
.popap__inner {
   max-width: 320px;
   background-color: white;
   height: 280px;
   border-radius: 10px;
   padding: 0px 10px;
}
.popap__inner-sub {
   padding: 0px 10px;
   background-color: white;
   border: 2px solid black;
   max-width: 310px;
   border-radius: 10px;
}
}

