
#popap{
   visibility: visible;
   opacity: 1;
   transform:  translateX(0px);
}

.popap {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.8);
   visibility: hidden;
   opacity: 0;
   transition: all ease 0.8s;
   transform:  translateX(1000px);
   z-index: 60;
}
.popap__body {
   display: flex;
   min-height: 100%;
   justify-content: center;
   align-items: center;
}
.popap__inner {
   max-width: 600px;
   background-color: white;
}

.popap__close{
   position: absolute;
   right: 0px;
   transition: all 0.5s;
}
.popap__close:hover{
   transform: scale(1.2);
}

.popap__titl {
   margin: 10px 0px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 25px;
   font-weight: 500;
   letter-spacing: 1px;
   text-align: center;
}
.popap__text {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 25px;
   color: #4F5665;
   text-align: center;
}
.popap__button {
   display: flex;
   justify-content: center;
   margin: 10px 0px;
   transition: all 0.5s;
}
.button__popap-click {
   padding: 10px 25px;
   font-size: 14px;
   color: white;
   max-width: 800px;
   background-color: rgb(255, 113, 91);
   border: none;
   cursor: pointer;
   transition: all 0.4s;
}
.button__popap-click:hover{
   background-color: #f25e8b;
   transform: scale(1.05);
}




.popap__inner-sub{
   padding: 10px 60px 10px 60px;
   background-color: white;
   border: 2px solid black;
}

.popap__titl-sub {
   margin: 10px 0px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px;
   font-weight: 600;
   letter-spacing: 1px;
   text-align: center;
   
}
.popap__box-sub {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.popap__input-sub {
   margin-top: 10px;
   padding: 5px 10px 5px 10px;
   border-radius: 50px;
}
.popap__btn-sub {
   margin: 0px 0px 10px 0px;
   padding: 10px 30px;
   background-color: #FF715B;
   border: none;
   border-radius: 20px;
}
.popap__text-sub{
   max-width: 440px;
   text-align: center;
   margin: 10px 0px;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 26px;
   color: #A79997;
}
.input-back{
   padding: 10px 0px;
}

._popap-scroll{
   overflow: hidden;
}

.popap__inner-prises{
   padding: 30px 60px 30px 60px;
   background-color: white;
   border: 2px solid black;
   border-radius: 10px;
}
.popap__titl-prises{
   text-align: center;
   margin: 10px 0px;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 26px;
   color: black;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
